/node_modules
/Laravel API/node_modules
/Yik App/node_modules
/Laravel API/public/storage
/Laravel API/public/hot
/Laravel API/storage/*.key
/Laravel API/vendor
/.idea
/Laravel API/platforms
/Laravel API/Homestead.json
/Laravel API/Homestead.yaml
/Laravel API/.env
/Laravel API/.DS_Store
/Laravel API/composer.lock
/Laravel API/yarn.lock
